<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Restaurant List</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

  {{{body}}}

<script src="/javascript/bootstrap.bundle.min.js"></script>
<script src="/javascript/index.js"></script>
</body>

</html>